services:
  frontend:
    image: internships-frontend
    container_name: frontend_cont
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    networks:
      - frontend-network
    depends_on:
      backend:
        condition: service_started

  backend:
    image: internships-backend
    container_name: backend_cont
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - frontend-network
      - backend-network
    volumes:
      - ./backend:/app:cached
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G

  database:
    image: mysql:8.0.44-debian
    container_name: mysql_cont
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend-network
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_TCP_PORT=${DB_PORT}
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge
    
