apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      # volumes:
      #   - name: data
      #     persistentVolumeClaim:
      #       claimName: mysql-pvc
      containers:
        - name: backend-cont
          image: andrejbajalski/internships-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          # volumeMounts:
          #   - name: data
          #     mountPath: /app/data
          env:
            - name: DB_HOST_DEV
              value: "mysql-service"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-database
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mysql-secret
                  key: mysql-password
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: DJANGO_SECRET_KEY
            - name: DJANGO_SUPERUSER_USERNAME
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: DJANGO_SUPERUSER_USERNAME
            - name: DJANGO_SUPERUSER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: DJANGO_SUPERUSER_PASSWORD
            - name: DJANGO_SUPERUSER_EMAIL
              valueFrom:
                secretKeyRef:
                  name: django-secrets
                  key: DJANGO_SUPERUSER_EMAIL
            - name: DB_PORT_DEV
              valueFrom:
                configMapKeyRef:
                  name: mysql-config
                  key: mysql-port

